################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AdvancedSharpAdbClient/obj/Release/netstandard2.0
/AdvancedSharpAdbClient/obj/Release/net461
/AdvancedSharpAdbClient/obj
